.sectionTitle{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 100px;
}
.sectionSubtitle{
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 75px;
}
.title{
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 25px;
  color: #3FC2CD;
}

.subTitle{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}
ul.helpList{
  margin-bottom: 25px;
  li{
    margin-left: 25px;
  }
}
.helpItem{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.helpText{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

.subTitle.bold{
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 25px;
}

.helpItem.bold{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
